.dNone {
    display:none !important;
}

.steppercontainer {
    display: block;
    margin:0 auto;
    padding:0;
    font-family:
}

.steppercontainer .steps {
    display:block;
    margin:0 auto;
}

.steps .header {
    display:inline-block;
    width:100%;
    position:relative;
    text-align:center;
    padding:20px;
}

.steps .header h2 {
    font-family: 'Sigmar One';
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px 0 25px 0px;
}
span.number {
    font-size: 24px;
    line-height: 1;
    border-radius: 50%;
    border: 1px solid black;
    height: 40px;
    width: 40px;
    padding: 5px;
    display: block;
    margin: 20px auto;
    background: #000000;
    color: white;
}
.steps li {
    list-style-type: none;
    font-family: 'Quattrocento Sans', sans-serif;
}

.steps button {
    text-align: center;
    display:inline-block;
    margin:0 5px;
}

.steps p.notes {
    font-family: 'Quattrocento Sans', sans-serif;
    text-align:center;
    padding: 40px;
    max-width: 600px;
    margin: 0 auto;
    text-shadow: 1px 1px 1px #c69c6d;
}

.steps p.pinknotes {
    font-family: 'Quattrocento Sans', sans-serif;
    padding: 0.5rem;
    border: 1px solid #281f16;
    background: #a21a48;
    color: white;
}

.steps img.monkey {
    max-width:45px;
    display: block;
    margin: 20px auto;
}

.steps img.fish {
    max-width:150px;
    display: block;
    margin-left: auto;
}

.steps .listing li {
    text-transform: uppercase;
    font-weight: 600;
    background: #fbd39f;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    text-align:center;
    max-width:50%;
    cursor: pointer;
    display:block;
    margin:0 auto;
    margin-top:10px;
    margin-bottom:10px;
    font-family: 'Sigmar One', sans-serif;
}

.maintext {
    background: #fbd39f;
}

.steps .listing {
    padding-bottom:1rem;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

.tankcontainer {
    max-width:600px;
    padding:20px 0;
    margin:15px auto;
}

.steps .tankcontainer div {
    display: inline-block;
    height: 100%;
    padding: 1rem;
}

.steps .tankcontainer div.chips {
    vertical-align:middle;
    width:70%;
}

.steps .tankcontainer div.image {
    vertical-align:middle;
    width:30%;
}
.steps .tankcontainer div.image img {
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
    vertical-align: middle;
}
.steps .tankcontainer div.chips p {
    margin-bottom:0px;
}
.steps .tankcontainer div p span {
    background: #a21a48;
    color: white;
    padding: 5px 15px;
    margin-right: 5px;
    margin-bottom: 5px; 
    border: 1px solid black;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Quattrocento Sans', sans-serif;
    display:inline-block;
    max-width: 400px;
}